name: Deploy 
on:
  workflow_dispatch: {}
  push:
    branches:
      - dev

jobs:
  deploy:
    name: Deploy Py-Bot
    runs-on: ubuntu-latest
    steps:
    - name: Deliver
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USERNAME }}
        key: ${{ secrets.VPS_PRIVATE_KEY }}
        script: |
          cd /root/ddvpn-bot
          BRANCH="${{ github.ref_name }}"
          git fetch origin
          git checkout "$BRANCH"
          git pull origin "$BRANCH"

    - name: Build and run
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USERNAME }}
        key: ${{ secrets.VPS_PRIVATE_KEY }}
        script: |
          cd /root/ddvpn-bot
          docker build -f docker/Dockerfile -t py-bot .
          docker run -d \
            --name py-bot \
            --restart unless-stopped \
            -e BOT_TOKEN="${{ secrets.BOT_TOKEN_DEV }}" \
            py-bot
          
